hg+http://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@bitbucket.org/analislas/datatools.old@61629a8
hg+http://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@bitbucket.org/IslasGECI/gatos@9a1ac44dbf07
git+https://github.com/IslasGECI/descarga_datos.git@v0.1.0-beta
