<!--Effort required to complete eradication-->
<p>
    The effort required to complete the eradication is between {{ estado_gatos.intervalo_trampas_gatos_remanentes[0] | commafy }} 
    and {{ estado_gatos.intervalo_trampas_gatos_remanentes[1] | commafy }} trap-
    nights. This estimation is obtained from the 95% credibility interval of the
    probability of eradication success (<strong>Figure 3</strong> left). In <strong>Figure 3</strong> (right) we can see how
    the probability of eradication completion increases with effort. The orange line
    indicates that a success probability of 95% is reached around 56 thousand trapnights.
</p>
<p>
    We estimate that 56,000 trap&#8729nights are required to eradicate all remaining cats.
    This estimation implies that:
    <ul>
        <li> {{ estado_gatos.dias_esfuerzo_trampas_mayor_95 | int }} days (approximately 6 months) are needed if 10 trappers (with 30 traps each) participate.</li>
        <li> The available time remaining in the field for the rest of the year is approximately 100 days. To complete 
            the eradication this year, {{ estado_gatos.personas_100_dias | int }} trappers (with 30 traps each) are required. </li>
    </ul>
</p>