<!--Current state-->
<p>    
    Following the methodology proposed by Ramsey (2011) and using data from the
    feral cat eradication project on Socorro Island until May 2018, we estimate that the
    initial population size was {{ estado_gatos.poblacion_inicial | int }} cats. To date, 
    {{ estado_gatos.total_capturas| int }} cats have been removed and the most probable number of remaining individuals 
    is <b>{{ estado_gatos.vmp_gatos_remanentes | int }}</b> cats. As such, <b>{{ estado_gatos.gatos_Mop_up | int }}</b>
    cats must be removed in order to enter the mop-up phase.
</p>